@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    @apply bg-zinc-800 cursor-default;
  }
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: aliceblue;
}

.App{
 
  min-height: 100vh;

  color: white;
}


.header{
  height: 100px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  
}
.btns{
  margin: 10px;
  cursor: pointer;
}

.innerbody{
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

 
  color: black;
  margin-left: 10%;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  height: 600px;


}
.minnerbody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
}
.myname{
  margin-top: 30px;
  font-size: 50px;
  font-weight: 400;
}

#contact-me{
  font-size: 20px;
  background-color: #282c34;
  color: white;
  padding: 15px;
width: 200px;
  display: flex;
  justify-content: center;
  cursor: pointer;

  
}
#contact-me:hover{
  animation: changeOnHover 1s ease-in-out ;
  background-color: white;
  outline: 2px solid #282c34;
  color: #282c34;

}
.scroll{
  width: 160px;
  height: 100px;
 margin-top: 50px;
  background-color: #282c3400;
  position: relative;
  display: flex;
  
  



}
.downdown{
  animation: downdown 1s linear infinite;
}

.projects{
  height: 100px;
  display: flex;
  justify-content: center;
position: relative;
top: 20px;
  font-size: 20px;
  font-weight: 1000;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
  width: 100%;
}
h1{
  font-size: 40px;
  color: white;
}
.body{
  display: flex;
  flex-direction: column;
  height: 645px;

  border-bottom: 1px solid black;

}
.footer{
  background-color: #282c34;
  width: 100%;
 height: 60px;
 display: flex;
 align-items: center;
 justify-content: center;
 

}
.footer-contents{
  display: flex;
}
svg{
  margin: 5px;
  width: 30px;
  height: 30px;
}
a{
  text-decoration: none;
color: white;
}
svg:hover{
  color: gray;

}
#scroll{
  width: 70px;
  height: 70px;
  position: relative;
  

}
.projects-body{

background-color: #282c34;

width: 90%;
border-bottom: 1px solid;
}
.p-body{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}
.pro{
  border: 1px solid #282c34;
  margin: 5px;
  flex: 1;
  
}
.m1,.m2,.m3,.p1,.p2,.q1,.q2,.o1,.o2,.n1,.n2{
  outline: 1px solid;
 position: relative;
}
.m3{
  display: flex;
  height: 100%;

}
.m1{
  height: 100%;
  flex: 2;
  display: flex;
  flex-direction: column;
}
.m2{
  flex: 1;
  background-color: greenyellow;
}
.m2:hover .chatthru{
  display: block;
}
.p1{
  height: 100%;
  flex: 1.8;
  display: flex;

}
.p2{
  flex: 1.5;
  background-color: bisque;
}
.p2:hover .newspro{
  display: block;
}
.q1{
flex: 1.8;
display: flex;
flex-direction: column;
}
.q2{
flex: 1;
background-color: green;
}
.q2:hover .imagetoolkit{
display: block;
}
.o1{
  flex: 0.75;
  display: flex;

}
.o2{
flex: 1;
background-color: aqua;
}
.o2:hover .imagefetch{
  display: block;
}
.n1{
  flex: 1;
  background-color: red;
  
}
.n1:hover .hangman{
  display: block;
}

.n2{
  flex: 1;
  background-color: yellow;
}
.n2:hover .mathmagician{
  display: block;
}
.img{
  width: 100%;
height: 100%;
}
.hangman,.handcricket,.imagefetch,.imagetoolkit,.chatthru,.mathmagician,.newspro{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.506);
  position: absolute;
  top: 0;
  display: none;
  cursor: pointer;
}
.hov:hover{
  display: block;
}

.pro-main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title{

  font-size: 30px;
  font-weight: 1000;
}
.sub{
width: 90%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-weight: 700;
}
.stack{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 90%;
}

/* about */
.abody{
  height: 700px;
  display: flex;
  
  justify-content: center;
  align-items: center;

}
.main-headings{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sabout{
  width: 80%;
}
.mabout{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mabout #contact-me{
  margin-top: 20px;
}
.tech-stack{
  flex: 1;
}
.all-tech-stack{
  outline: 1px solid black;
  width: 450px;
  height:450px;
  display: flex;
  flex-direction: column;
}
.top-stack,.bottom-stack{

  flex: 1;
  display: flex;
}

.top-left,.top-right,.bottom-left,.bottom-right{
  
  flex: 1;
  background-repeat: no-repeat;
  padding: 10px;


}
.top-left{
  background-color: #1067aa;
}
.bottom-left{
  background-color: red;
}
.top-right{
  background-color: white;
}
.about-heading{
  color: white;
  font-weight: 1000;
  margin-left: 5px;
  margin-top: 10px;

}
.bottom-right{
  background-color: bisque;
}
.black{
  color: black;
}
.bold{
  font-weight: 700;
  list-style: disc;
  position: relative;
  left: 10px;
}
.viewmore{
  margin: 20px;
  padding: 15px;
  font-size: large;
  background-color: #282c34;
  color: white;
  

}
.viewmore:hover{
  outline: 1px solid #282c34;
  background-color: white;
  color: #282c34;
  animation: changeOnHover 1s ease-in-out ;
}

bored:hover{
  background-color: white;
  color: #282c34;
  animation: changeOnHover 1s ease-in-out ;
}

@keyframes changeOnHover {
  0%{
    background-color: #282c34;
    color: white;
  }
  100%{
    background-color: white;
    color: #282c34;
  }
 
}
@keyframes downdown {
  0%{
    
    top:0px;

  }
  25%{
    top: 30px;
    }50%{
      top:0px;
    }
    75%{
      top: 30px;
    }
  100%{
    top:0px;
  }
}

@media(min-width:700px){
.App{
  display: flex;

}
.header{
  
  height:100vh;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 20px;
  
  
  
}
.color-change{
  animation: colorchange 30s ease-in infinite;
}
.btns{
margin: 20px;
}
.body{
  height: 800px;
}
.btns:hover{
  text-decoration: underline;
}
}

@media(max-width:1200px){
  .m3{
    flex-direction: column;
  }

}
@media(max-width:950px){
  .p1{
  flex-direction: column;
  }
}
@media(max-width:700px){
  .innerbody{
    margin-left: 5%;
  }
  .m3{
    flex-direction: column;
  }
  .p1{
    flex-direction: column;
  }
  .o1{
    flex-direction: column;
  }
  .projects-body{
    width: 100%;
  }
  .abody{
    flex-direction: column;
  }
  .all-tech-stack{
    margin-top: 30px;
    width: 350px;
  }
  .myname{
    font-size: 40px;
  }
  .btns:hover{
    font-size: 20px;
  }
}

@keyframes colorchange {
  0%{
background-color: #334155;
  }
  20%{
    background-color: #374151;
  }
  40%{
    background-color: #3f3f46;
  }
  60%{
    background-color: #404040;
  }
  80%{
    background-color:#44403c;
  }
 
  100%{
    background-color: black;
  }
}