

.App{
 
  min-height: 100vh;

  color: white;
}


.header{
  height: 100px;
  background-color:#282c34 ;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  
}
.btns{
  margin: 10px;
  cursor: pointer;
}
.btns:hover{
  font-size: 20px;
}
.innerbody{
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

 
  color: black;
  margin-left: 10%;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  background-color: antiquewhite;
  height: 600px;


}
.minnerbody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
}
.myname{
  
  font-size: 50px;
  font-weight: 400;
}

#contact-me{
  font-size: 25px;
  background-color: #282c34;
  color: white;
  padding: 15px;
  width: 150px;
  display: flex;
  justify-content: center;
  cursor: pointer;

  
}
#contact-me:hover{
  background-color: white;
  outline: 2px solid #282c34;
  color: #282c34;

}
.scroll{
  width: 160px;
  height: 100px;
 margin-top: 50px;
  background-color: #282c3400;
  position: relative;
  display: flex;
  
  



}
.downdown{
  animation: downdown 1s steps(7)
}

.projects{
  height: 100px;
  display: flex;
  justify-content: center;
position: relative;
top: 20px;
  font-size: 20px;
  font-weight: 1000;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
  width: 100%;
}
h1{
  font-size: 40px;
  color: #282c34;
}
.body{
  display: flex;
  flex-direction: column;
  height: 645px;
  background-color: aqua;
  border-bottom: 1px solid black;

}
.footer{
  background-color: #282c34;
  width: 100%;
 height: 60px;
 display: flex;
 align-items: center;
 justify-content: center;
 

}
.footer-contents{
  
}
svg{
  margin: 5px;
  width: 30px;
  height: 30px;
}
svg:hover{
  color: gray;

}
#scroll{
  width: 70px;
  height: 70px;
  position: relative;
  

}
.projects-body{

background-color: #282c34;
height: 690px;
width: 90%;
border-bottom: 1px solid;
}
.p-body{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pro{
  border: 1px solid #282c34;
  margin: 5px;
  flex: 1;
  
}
.m1,.m2,.m3,.p1,.p2,.q1,.q2,.o1,.o2,.n1,.n2{
  outline: 1px solid;
}
.m3{
  display: flex;
  height: 100%;

}
.m1{
  height: 100%;
  flex: 2;
  display: flex;
  flex-direction: column;
}
.m2{
  flex: 1;
  background-color: greenyellow;
}
.p1{
  height: 100%;
  flex: 1.8;
  display: flex;

}
.p2{
  flex: 1.5;
  background-color: bisque;
}
.q1{
flex: 1.8;
display: flex;
flex-direction: column;
}
.q2{
flex: 1;
background-color: green;
}
.o1{
  flex: 0.75;
  display: flex;

}
.o2{
flex: 1;
background-color: aqua;
}
.n1{
  flex: 1;
  background-color: red;
}
.n2{
  flex: 1;
  background-color: yellow;
}
.img{
  width: 100%;
height: 100%;
}
@keyframes downdown {
  0%{
    
    top:0px;

  }
  25%{
    top: 30px;
    }50%{
      top:0px;
    }
    75%{
      top: 30px;
    }
  100%{
    top:0px;
  }
}
@media(max-width:600px){
  .innerbody{
    margin-left: 5%;
  }
  .m3{
    flex-direction: column;
  }

}