

.App{
 
  min-height: 100vh;

  color: white;
}


.header{
  height: 100px;
  background-color:#282c34 ;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.btns{
  margin: 10px;
  cursor: pointer;
}
.btns:hover{
  font-size: 20px;
}
.innerbody{
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

 
  color: black;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: antiquewhite;
  height: 600px;


}
.myname{
  
  font-size: 50px;
  font-weight: 400;
}

#contact-me{
  font-size: 25px;
  background-color: #282c34;
  color: white;
  padding: 15px;
  width: 150px;
  display: flex;
  justify-content: center;
  cursor: pointer;

  
}
#contact-me:hover{
  background-color: white;
  outline: 2px solid #282c34;
  color: #282c34;

}
.scroll{
  width: 160px;
  height: 100px;
 margin-top: 50px;
  background-color: #282c3400;
  position: relative;
  display: flex;
  
  



}
.downdown{
  animation: downdown 1s steps(7)
}

.projects{
  height: 100px;
  display: flex;
  justify-content: center;
position: relative;
top: 20px;
  font-size: 20px;
  font-weight: 1000;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
  width: 100%;
}
h1{
  font-size: 40px;
}
.body{
  display: flex;
  flex-direction: column;
  height: 600px;

}
.footer{
  background-color: #282c34;
  width: 100%;
 height: 60px;
 display: flex;
 align-items: center;
 justify-content: center;
 

}
.footer-contents{
  
}
svg{
  margin: 5px;
  width: 30px;
  height: 30px;
}
svg:hover{
  color: gray;

}
#scroll{
  width: 70px;
  height: 70px;
  position: relative;
  

}

@keyframes downdown {
  0%{
    
    top:0px;

  }
  25%{
    top: 30px;
    }50%{
      top:0px;
    }
    75%{
      top: 30px;
    }
  100%{
    top:0px;
  }
}
@media(max-width:600px){
  .innerbody{
    margin-left: 5%;
  }
}