

.App{
 
  min-height: 100vh;

  color: white;
}


.header{
  height: 100px;
  background-color:#282c34 ;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.btns{
  margin: 10px;
  cursor: pointer;
}
.btns:hover{
  font-size: 20px;
}